"*":
  editor:
    invisibles: {}
    fontFamily: "Menlo"
    fontSize: 16
  core:
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
    excludeVcsIgnoredPaths: false
  linter:
    ignoredLinterErrors: [
      "jshint"
    ]
    lintOnFly: false
  "linter-jshint": {}
  "linter-jsxhint":
    harmony: true
  react:
    enabledForAllJavascriptFiles: true
  emmet: {}
  docblockr:
    spacer_between_sections: true
    per_section_indent: true
    extend_double_slash: false
    auto_add_method_tag: true
    development_mode: true
  "exception-reporting":
    userId: "18271802-e381-0e08-7607-a4deabdc2de3"
  welcome:
    showOnStartup: false
  tabs:
    usePreviewTabs: true
  "linter-jscs":
    harmony: true
    esnext: true
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
    globalNodePath: "/Users/jamesblack/.nvm/versions/node/v0.12.7"
    useGlobalEslint: true
  jshint:
    supportLintingJsx: true
    validateOnlyOnSave: true
  "tree-view": {}
  flow: {}
